<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.undatech.remoteClientUi">

    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.microphone"
        android:required="false" />

    <application android:requestLegacyExternalStorage="true">
        <activity android:name="com.iiordanov.bVNC.GlobalPreferencesActivity"></activity>
    </application>

    <uses-sdk tools:overrideLibrary="com.github.luben.zstd"/>
</manifest>
